        * {
            margin: 0;
            padding: 0;
        }

        .grid-container>div {
            font-size: 30px;
            /* outline: 3px solid rgb(10, 28, 226); */
        }

        .grid-container {
            display: grid;
            grid-template-columns: repeat(10, 1fr);
        }

        .navbar {
            grid-column: 1/11;
            padding: 20px;

            ul {
                background-color: rgb(25, 0, 254);
                border-radius: 40px;
                padding: 20px;
                float: right;
                list-style: none;
                display: flex;
                flex-direction: row;

            }

            /* li:nth-child(1) {
                position: absolute;
                left: 0;
            } */

            li {
                padding-inline: 20px;
            }

            a {
                font-size: 2.5rem;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                font-weight: 700;
                text-decoration: none;
                color: aliceblue;
            }

            #logo:hover {
                background-color: rgb(208, 255, 1);
                color: black;
                /* font-size: 3rem;
                transform: scale(2.1); */
            }

            #logo {
                padding: 15px;
                position: absolute;
                left: 0;
                border-radius: 40px;
                color: rgb(0, 0, 0);
                transition: 0.4s ease-in-out;
            }
            #menu{
                display: none;
                color: white;
                    background-color: rgb(191, 5, 228);
                    padding: 5px;
                    border-radius: 10px;
            }
        }

        .image-section {
            grid-column: 1/5;
            text-align: center;
            padding: 4rem 0px 0px 0px;

            img {
                border-radius: 50%;
                width: 85%;
                height: auto;
                transition: .3s ease-in-out;
            }
            img:hover{
                transform: rotate(50deg);
            }
        }

        .text-section {
            grid-column: 5/11;
            display: grid;
            place-content: center;

            ul {
                display: flex;
                list-style: none;
                flex-direction: column;
            }

            li:nth-child(1) {
                font-family: monospace;
                font-size: 5rem;
            }

            li:nth-child(2) {
                font-family: sans-serif;
            }
        }

        .footer {
            grid-column: 1/11;
            height: 10vh;
        }

        @media only screen and (max-width: 600px) {

            .navbar {
                ul {
                    display: none;
                }

                #menu {
                    display: block;
                    font-size: 50px;
                    float: right;
                }

                a {
                    font-size: 2rem;
                }
            }

            .image-section {
                grid-column: 1/11;

                img {
                    width: 70%;
                }
            }

            .text-section {
                grid-column: 1/11;

                ul {
                    padding-top: 1.5rem;
                }

                li:nth-child(1) {
                    font-family: monospace;
                    font-size: 3rem;
                }

                li:nth-child(2) {
                    font-size: 2rem;
                    font-family: sans-serif;
                }
            }
        }

        @media only screen and (max-width: 500px) {

            .navbar {
                ul {
                    display: none;
                }

                #menu {
                    display: block;
                    float: right;
                    font-size: 30px;
                }

                a {
                    font-size: 1.5rem;
                }
            }

            .image-section {
                grid-column: 1/11;

                img {
                    width: 100%;
                }
            }

            .text-section {
                grid-column: 1/11;

                li:nth-child(1) {
                    font-family: monospace;
                    font-size: 2rem;
                }

                li:nth-child(2) {
                    font-size: 1.5rem;
                    font-family: sans-serif;
                }
            }
        }

        @media only screen and (max-width: 400px) {

            .navbar {
                background-color: aqua;

                ul {
                    display: none;
                }

                #menu {
                    display: block;
                    float: right;
                    font-size: 30px;
                }

                a {
                    font-size: 1.5rem;
                }
            }

            .image-section {
                grid-column: 1/11;

                img {
                    width: 100%;
                }
            }

            .text-section {
                grid-column: 1/11;

                li:nth-child(1) {
                    font-family: monospace;
                    font-size: 2rem;
                }

                li:nth-child(2) {
                    font-size: 1.5rem;
                    font-family: sans-serif;
                }
            }
        }