*{
    margin: 0;
    padding: 0;
}
.container{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 15px;
}

.container > div{
    outline: 1px solid rebeccapurple;
    /* padding: 10px; */
    /* text-align: center; */
}

.content-section ul li{
    list-style: none;

    a{
        color: blue;
        text-decoration: none;
    }
}

ul{
    display: flex;
    justify-content: space-around;
}